<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.h10_fams.amaderdoctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmaderDoctor">
        <activity android:name=".PatientActivities.TipsActivity"></activity>
        <activity android:name=".PatientActivities.NewsActivity" />
        <activity android:name=".PatientActivities.MyDoctorActivity" />
        <activity android:name=".PatientActivities.DoctorListActivity" />
        <activity android:name=".YourRequestActivity" />
        <activity android:name=".YourPatientsActivity" />
        <activity android:name=".DoctorRegistrationInfoActivity" />
        <activity android:name=".PatientActivities.PatientRegisterInfoActivity" />
        <activity android:name=".PatientActivities.HormoneActivity" />
        <activity android:name=".PatientActivities.BloodCountActivity" />
        <activity android:name=".PatientActivities.LipidActivity" />
        <activity android:name=".PatientActivities.RecordActivity" />
        <activity android:name=".DoctorDashboardActivity" />
        <activity android:name=".PatientActivities.PatientDashboardActivity" />
        <activity android:name=".DoctorLoginSignupActivity" />
        <activity android:name=".PatientActivities.PatientLoginSignupActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>